* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Roboto Mono', monospace;
}

/*intro section*/
.introContainer {
    background: #C8DBBE;
    height: 750px;
}

.title {
    text-align: center;
    padding: 2%;
    color: #665A48;
}

#introTitle {
    padding-top: 250px;
    font-size: 80px;
    font-weight: bold;
}

#introSubtitle {
    font-weight: 500;
    font-size: 35px;
}

/*hello section*/
.helloContainer {
    background-color: #EDE4E0;
    height: 700px;
}

.sectionTitle {
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 40px;
}

#personImg {
    border-radius: 50%;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 70px;
}

#introductionP {
    text-align: center;
    padding-bottom: 120px;
}

hr {
    border-top: dotted 20px #9F8772;
    margin-top: 20px;
    margin-right: 670px;
    margin-left: 670px;
    display: block;
}

/*skills section*/
.skillsContainer {
    background-color: #B7C4CF;
    /* height: 800px; */
}

.computerImg {
    width: 200px;
    /* display: inline-block; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 70px;
}

#reversedImg {
    transform: scaleX(-1);
}

.flexContainer {
    display: flex;
    justify-content: center;
    padding: 0px 70px;
}

.subtitle {
    color: #665A48;
    margin: 20px;
    padding-top: 30px;
}

.skillsP {
    font-weight: 300;
    text-align: justify;
    margin: 20px;
}

/*contact section*/
.contactContainer {
    background-color: #EDE4E0;
    padding-top: 50px;
    height: 300px; 
}

.link {
    text-decoration: none;
}

#button {
    background-color: #b5c8ab;
    padding: 20px;
    border-radius: 50px;
    height: 20px;
    width: 150px;
    margin-left: 44%;
    color: #665A48;
    text-align: center;
    font-size: 20px;
}

#button:hover {
    background-color: #8ba27d;
    color: #EDE4E0;
    transition: 0.3s;
}

/*footer*/
#footer {
    height: 200px;
    background-color: #C8DBBE;
}

.links {
    text-align: center;
}

.footerText {
    padding: 50px;
    display: inline-block;
    color: #9F8772;
}

.footerText:hover {
    color: #665A48;
    transition: 0.3s;
    font-weight: bold;
}

#copyrightText {
    text-align: center;
}